::-webkit-scrollbar {width: 15px;}
::-webkit-scrollbar-track{background: white;}  
::-webkit-scrollbar-thumb {background: #306495c0;}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    min-width: 250px !important;
}
#background{
    width: 100vw;
    height: 100vh;
    object-fit: cover !important;
    position: fixed !important;
    z-index: -1;
}
#navbar{
    background-color: #306495cb;
    width: 100%;
    position: relative;
    height: 80px;
}
#content-navbar{
    width: 90%;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
    margin: auto;
    font-family:cursive !important;
    font-size: 16px;
    line-height: 80px;
}
li a{
    color: white;
    text-decoration: none;
    display:inline-block;
    padding: 0px 1rem;
    background-color:inherit;
    transition: 0.3s background-color;
}
li a:hover{
    background-color:white ;
    color: rgb(39, 39, 182);
}
#title{
    font-size: 40px;
    line-height: 85vh;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: white 2px;
    letter-spacing: 5px;
    font-family: sans-serif;
    margin-bottom: 50vh;
}

#home{
    color:white;
    font-family: cursive;
    text-decoration: none;
    background-color: #306495cb;
    border: none;
    padding: 7px;
    position: fixed;
    font-size: 16px;
    top:70vh;
}
.content-article{
    width: 80%;
    margin: auto;
    margin-bottom: 50vh;
    color:white;
}
.title-article{
    font-family: fantasy;
    letter-spacing: 3px;
    font-weight: lighter;
    margin-bottom: 10vh;
}
.article-paragraph{
    text-align: left;
    color: white;
    font-family: cursive;
    font-size: 20px;
}
.article-description{
    text-align: left;
    font-family: cursive;
    margin-bottom:7vh ;

}
.article-list{
    list-style-type: none;
    text-align: left;
    font-family: cursive;
}
.article-list li{
    padding-bottom: 1.2rem;

}
.article-list li b{
    color: #306495cb;
    background-color: white;
    padding: 0 1rem;
    border-radius: 5px;
}
.img-article{
    width: 100%;
    object-fit: cover;
    margin-bottom: 20vh;
    width: 100%;
}
footer h1{
    color: transparent;
    -webkit-text-stroke: white 2px;
    letter-spacing: 5px;
    font-family: sans-serif;
    margin-bottom: 10vh;

}


/*MQ*/


@media only screen and (max-width:800px)  {
    #title{
        font-size: 32px; 
    } 
    footer h1{
        font-size: 30px;
    }
    .title-article{
        font-size:30px;
    }
    .article-description{
        font-size: 25px;
    }
}
@media only screen and (max-width:700px)  {
    #title{
        font-size: 25px; 
    } 
    footer h1{
        font-size: 22px;
        -webkit-text-stroke-width: 1.4px; 
    }
    .title-article{
        font-size:22px;
    }
    .article-description{
        font-size: 19px;
    }

}
@media only screen and (max-width:650px)  {
    #title{
        font-size: 25px; 
    } 
    footer h1{
        font-size: 18px;
        -webkit-text-stroke-width: 1px; 
    }
    .title-article{
        font-size:18px;
    }
    .article-description{
        font-size: 16px;
    }

    #navbar{
        height: 60px;
    }
    #content-navbar{
        line-height: 60px;
        font-size: 12px;
    }
    #home{
        font-size: 12px;
        padding: 5px;
        display: block;
    }
    li a{
        padding:0 .9rem;
    }
}
@media only screen and (max-width:520px){
    #title{
        font-size: 18px;
        -webkit-text-stroke-width: 1px; 
    } 
    #navbar{
        height: 45px;
    }
    #content-navbar{
        line-height: 45px;
        font-size: 10px;
    }
    #home{
        font-size: 10px;
        padding: 3px;
        display: block;
    }
    li a{
        padding:0 .7rem;
    }

    .title-article{
        letter-spacing: 2px;
        font-size: 16px;
    }
    .article-paragraph{
        font-size: 10px;
    }
    .article-description{
        font-size: 13px;
    }
    .article-list li{
        padding-bottom: 1rem;
        font-size: 10px;
    
    }
    .article-list li b{
        padding: 0 .9rem;
        border-radius: 4.5px;
    }
    footer h1{
        font-size: 16px;
        -webkit-text-stroke-width: 1px;
        letter-spacing: 3px;
    }
    

}


@media only screen and (max-width:420px){
    #title{
        font-size: 13px;
        -webkit-text-stroke-width: 1px; 
        letter-spacing: 2px;
    } 
    #navbar{
        height: 30px;
    }
    #content-navbar{
        line-height: 30px;
        font-size: 8px;
    }
    #home{
        font-size: 8px;
        padding: 2px;
        display: block;
    }
    li a{
        padding:0 .5rem;
    }

    .title-article{
        letter-spacing: 2px;
        font-size: 11px;
    }
    .article-paragraph{
        font-size: 8px;
    }
    .article-description{
        font-size: 9px;
    }
    .article-list li{
        padding-bottom: 1rem;
        font-size: 8px;
    
    }
    .article-list li b{
        padding: 0 .7rem;
        border-radius: 3px;
    }
    footer h1{
        font-size: 11px;
        -webkit-text-stroke-width: 1px;
        letter-spacing: 2px;
    }
    .content-article{
        width: 90%;
    }
    

}